<h2>@ViewBag.Message</h2>
<form method="post">
    <label>Nhập họ tên:</label>
    <input type="text" name="hoTen" />

    <br /><br />

    <button type="submit">Gửi</button>
</form>

@if (ViewBag.LoiChao != null)
{
    <h3>@ViewBag.LoiChao</h3>
}



