@*@model Sinhvien.Models.Student
<h2>Nhập thông tin sinh viên</h2>

<form method="post">
    <label>Mã sinh viên:</label><br />
    <input type="text" name="StudentCode" />
    <br /><br />

    <label>Họ tên:</label><br />
    <input type="text" name="FullName" />
    <br /><br />

    <button type="submit">Gửi</button>
</form>

@if (Model != null)
{
    <h3>Thông tin đã nhập:</h3>
    <p>Mã SV: @Model.StudentCode</p>
    <p>Họ tên: @Model.FullName</p>
}

*@
<h2>Thông báo: @ViewBag.ThongBao</h2>
<form asp-action="Index" method="post">
    <input type="text" name="StudentCode" placeholder="Nhập mã sinh viên của bạn" />
    <input type="text" name="FullName" placeholder="Nhập họ tên của bạn" />
    <button type="submit">Gửi dữ liệu</button>
</form>